#Mob Farm Configuration
#
# This configuration file allows you to define the general settings for the Mob Farms.
#Tue Feb 18 21:04:00 CET 2025
experienceDropChance=5
progressingRequiresOwnerToBeOnline=true
speedEnhancementUpgradeSpeed=6
tier0progressionUpgradeSpeed=0
tier1progressionUpgradeSpeed=3
tier2progressionUpgradeSpeed=6
tier3progressionUpgradeSpeed=9
